:root {
  --basic-white: #ffffff;
  --basic-normal-black: #333333;
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-blue-hover: #669EC0;
  --basic-blue-action: #5496BD;
  --basic-blue-logo: #81B3D3;
  --basic-gray: #EEEEEE;
  --basic-brown: #766357;
  --basic-transparent: rgba(255, 255, 255, 0.9);
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}


/* User navigation */


.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-extra-dark);
}

/* Features */


.features-list {
  list-style: none;
}

.features-item {
  text-align: center;
}

.features-item h2 {
  font-size: 21px;
  line-height: 21px;
}

.features-item p {
  color: var(--basic-normal-black);
}


/* Reasons */

.reasons-list p {
  color: var(--basic-normal-black);

}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-blue-hover);
}

.button:active {
  background-color: var(--basic-blue-action);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-blue);
}

.search  div{
  background-color: var(--basic-brown);
}

/* Contacts */

.contacts-phone {
  color: inherit;
}

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-transparent);
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;

}

/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}